body { background-color:#85144B; 
       color:#FF851B; 
       font-family: Arial, Verdana, sans-serif;
		
		}
h1	{ color:#FF851B; 
      margin-left: 10px;
		}

h2	{ 	color:#FF851B0; 
		font-weight: bold; 
		font-size: 1.5em;
	
		}
h3	{	color:#121110; 
		font-size: 1.5em;
		font-weight: bold;
	
		}
ul	{	font-weight: bold;
		padding : 10px 20px 10px 20px; 
		}
ol	{	font-style: italic;
		list-style-type: none;
		display: inline;
		padding: 20px;
		
		}
a 	{	text-decoration: none;
		color: #AAAAAA;
		}
.home {
	padding-right:25px;
}
p	{ font-size: 1em;
		}


#icon { border: 3px solid #FFD500;
			padding: 10px 8px 10px 8px;
			box-shadow: 5px 5px 5px #FFD500;
			}


#wrapper1{
			width : 80%;
			min-width: 960px;
			margin-left:auto;
			margin-right:auto;
			}
#leftCol{	float: left; 
			margin: 10px;
			
			}
#rightCol{ padding : 10px 8px 10px 8px;
			margin-left: 155px;
            background-color: #397F43;
            color: #000000;
			overflow: auto;
			}
#header { border: solid white 3px;
	
}
#main{ 	padding : auto;
		border: solid red 3px;
        background-color: #397F43;
        color: #000000;
		overflow: auto;
			}
#footer { border: solid yellow 3px;
		color: blue;
		background-color: gray;
		

}
#footer p{
	display: inline;
	padding-right: 200px;
	width: 100%;
}
/**********1366px wide - Large Desktop***********/
@media only screen and (max-width: 1366px) {
  body {
    background-color: blue;
  }
  #main{ padding : auto;
		border: solid red 3px;
        background-color: #397F43;
        color: #DDDDDD;
		overflow: auto;
			}
	.active, img{ width: 100%}
}
/**********1024px wide - Small Desktop***********/
@media only screen and (max-width: 1024px) {
  body {
    background-color: #001f3f;
  }
  #main{ padding : auto;
		border: solid red 3px;
        background-color: #397F43;
        color: #DDDDDD;
		overflow: auto;
			}
	.active, img{ width: 100%}
}

/**********768px wide - Tablet***********/
@media only screen and (max-width: 768px) {
  body {
    background-color: #FF4136;
  }
  #main{ padding : auto;
		border: solid red 3px;
        background-color: #397F43;
        color: #AAAAAA;
		overflow: auto;
			}
	.active, img{ width: 100%}
}

/**********411px wide - Phone***********/
@media only screen and (max-width: 411px) {
  body {
    background-color: #01FF70;
  }
  #main{ padding : auto;
		border: solid red 3px;
        background-color: #397F43;
        color: #AAAAAA;
		overflow: auto;
			}
	.active, img{ width: 100%}
#footer p{
	text-decoration:none;
	
	
}
}

































